.right-menu-button-wrapper {
  height: 100%;
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-button-attr{
  display: block;
  border: none;
  background: none;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}

.bell-button-attr {
    display: block;
    border: none;
    background: none;
    width: fit-content;
    height: 100%;
    cursor: pointer;
}
.login-router-link-attr {
  text-decoration: none;
  color: #FFFFFF;
}

.under-login-router-link-attr {
  text-decoration: none;
  color: #286cfd;
}