.home-total-view-port {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0px;
  }
.home-partition-attr {
    border: 1px solid #222222;
  }
.home-header-total-outter-warpper {
  width: 100%;
  height: 10vh;
  position: relative;
  top: 0;
}
