.signup-total-view-port {
    width: 100%;
    height: 100%;
    padding: 0 80px;
    position: relative;
}
.signup-putting-view-port {
    width: 100%;
    height: 50%;
    padding: 20px 20px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    margin: 32px 0px;
    border-radius: 8px;
}
.signup-total-header-view-port {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0px;
}
.signup-header-total-outter-wrapper {
    width: 100%;
    height: 10vh;
    position: relative;
    top: 0;
}
.signup-subject-attr {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0px;
}
.signup-subtitle-attr {
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    color: #757575;
}
.signup-partition-attr {
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
}
.signup-form-wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 50px);
}
.signup-form-input-common-attr {
    border: 2px solid #DDDDDD;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}
.signup-form-common-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-check-id-attr {
    margin-left: 3vh;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #e40026;
}
.signup-check-id-hidden-attr {
    color: #ffffff;
}
.signup-form-common-print {
    display: flex;
    align-items: center;
    font-weight: 600;
}
.signup-password-show-toggle-button {
    margin-left: 2vh;
    width: fit-content;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #767676;
}
.signup-password-show-toggle-button:hover {
    border-radius: 16px;
    color: #286cfd;
}
.signup-submit-button-wrapper {
    width: 80%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.signup-deactivation-sumit-button-attr {
    width: 30vh;
    height: 7vh;
    border: none;
    background: #DDDDDD;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.signup-activation-submit-button-attr {
    width: 30vh;
    height: 7vh;
    border: none;
    background: #286cfd;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.signup-checkNumEng-attr {
    margin-left: 3vh;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #e40026;
}
.signup-common-summative-information-attr {
    display: flex;
    align-items: center;
}
.signup-check-password-attr {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #e40026;
}
.signup-password-information-attr {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #e40026;
    width: 100%;
}
.signup-password-information-hidden-attr {
    margin-left: 3vh;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #ffffff;
    width:  100%;
}
.signup-check-phonenumber-information-attr {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #e40026;
    width: 100%;
}
.signup-check-phonenumber-information-hidden-attr {
    margin-left: 3vh;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #ffffff;
    width:  100%;
}