// hamburger
.hamburger-svg-attr {
    display: block;
    width: 25px;
    height: 25px;
}

// bell
.bell-svg-attr {
    display: block;
    width: 25px;
    height: 25px;
}

//close
.close-icon-attr {
    width: 32px;
    height: 32px;
}